@tailwind base;
  @tailwind components;
  @tailwind utilities;


  @layer base {
    :root {
      --background: #D2EEEF;
      --foreground: #0C0A09;
      --card: #D2EEEF;
      --card-foreground: #0C0A09;
      --popover: #FFFFFF;
      --popover-foreground: #0C0A09;
      --primary: #FC9803;
      --primary-foreground: #422006;
      --secondary: #F5F5F4;
      --secondary-foreground: #1C1917;
      --muted: #F5F5F4;
      --muted-foreground: #78716C;
      --accent: #FC9A02;
      --accent-foreground: #1C1917;
      --destructive: #EF4444;
      --destructive-foreground: #FAFAF9;
      --border: #E7E5E4;
      --input: #1A1A1A;
      --ring: #0C0A09;
      --radius: 0.5rem;
    }
  
    .dark {
      --background: #0C0A09;
      --foreground: #FAFAF9;
      --card: #0C0A09;
      --card-foreground: #FAFAF9;
      --popover: #0C0A09;
      --popover-foreground: #FAFAF9;
      --primary: #FACC15;
      --primary-foreground: #422006;
      --secondary: 	#292524;
      --secondary-foreground: #FAFAF9;
      --muted: 	#292524;
      --muted-foreground:#A8A29E;
      --accent: 	#292524;
      --accent-foreground: #FAFAF9;
      --destructive: #7F1D1D;
      --destructive-foreground: #FAFAF9;
      --border: 	#292524;
      --input: 	#292524;
      --ring: #A16207;
    }
  }
  

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }

  .gradient {
  background: linear-gradient(90deg, #1EA8B1 0.29%, #8ED3D8 10.07%, #D2EEEF 33.35%, #D2EEEF 66.17%, #8ED3D8 89.64%, #1EA8B1 99.74%);
}

.gradient-card {
  border: 1px solid rgba(0, 0, 0, 0.30);
  background: linear-gradient(180deg, rgba(143, 212, 216, 0.30) 0%, rgba(210, 238, 239, 0.30) 47%, rgba(143, 212, 216, 0.30) 100%);
}